@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Diseño inspirado en https://multipurposethemes.com/blog/desktop-chatbot-ui-design-simplify-chatbot-integration/ */

@theme {
  --color-theme-lightgray: #EEF0F8;
  --color-theme-steelblue: #1C2E4C;
  --color-theme-darkgray: #3E557F;
  --color-theme-midnight: #0C1A32;
  --color-theme-seablue: #6993FF;
}

body {
  @apply bg-theme-lightgray dark:bg-theme-steelblue;
}