@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Diseño inspirado en https://multipurposethemes.com/blog/desktop-chatbot-ui-design-simplify-chatbot-integration/ */

@theme {
	--color-theme-lightgray: #eef0f8;
	--color-theme-steelblue: #1c2e4c;
	--color-theme-midnight: #0c1a32;
	--color-theme-seablue: #6993ff;
	--color-theme-moon: #3e557f;
}

body {
	@apply bg-theme-lightgray dark:bg-theme-steelblue;
}
